.converter {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    padding: 2rem 0;
    text-align: center;
  }

  &__container {
    padding: 2rem;
  }

  &__from, &__to {
    margin: 0.3rem;
  }
}
